@charset "UTF-8";

/* reset */
*{margin: 0; padding: 0;}
ol,ul{list-style: none;}
body{font-family: 'Open Sans', sans-serif;}
a{text-decoration: none; color: #000;}

/* main.css */



#Friends_wrap{width: 100%;  overflow: hidden; margin-top: 10px;}
#Friends_wraphr{border: 0; margin: 0; width: 100%; height: 1px; background-color: #ccc;}
/* header */

#Friends_wrap header{z-index: 10; position: fixed; left: 0; top: 0; background-color: #523737; width: 100%; height: 64px;}
#Friends_wrap .Friends_header_top{width: 100%; display: flex;padding: 5px 10px 15px 10px; box-sizing: border-box;}
#Friends_wrap .Friends_header_top div{width: 33%;display: flex; justify-content: space-between;}
#Friends_wrap .Friends_header_top div ul{display: flex;}
#Friends_wrap .Friends_header_top div:nth-of-type(2){justify-content: center; margin-left: 30px;}
#Friends_wrap .Friends_header_top div:nth-of-type(3){display: flex; justify-content: flex-end;}
#Friends_wrap .Friends_header_top div ul li{color: #fff; font-size: 12px; font-weight: normal; padding: 0 2px;}

#Friends_wrap .Friends_header_top .friends_bar2 ul{display: flex; justify-content: center;}
#Friends_wrap .Friends_header_top .friends_bar3 ul{display: flex; justify-content: flex-end;}

/* header_bottom */
#Friends_wrap .Friends_header_bottom{width: 100%; padding: 5px 10px 15px 10px; box-sizing: border-box; height: 42px;background-color: #523737}
#Friends_wrap .Friends_header_bottom ul{display: flex; justify-content: space-between;}
#Friends_wrap .Friends_header_bottom ul li{display: flex;  font-size: 16px;}
#Friends_wrap .Friends_header_bottom ul li:first-of-type{color: #fff; opacity: 0.5;}
#Friends_wrap .Friends_header_bottom ul li:nth-of-type(2){color: #fff; margin-left: -10px;}
#Friends_wrap .Friends_header_bottom ul li:nth-of-type(2) span{color: #ffe94a; margin-left: 5px;}
#Friends_wrap .Friends_header_bottom ul li:nth-of-type(3){font-size: 20px; color: #fff;}


/* srch */

#Friends_wrap .Friends_srch{margin-top: 70px; display: flex; padding: 10px 25px;justify-content: center;}
#Friends_wrap .Friends_srch i{display: flex; font-size: 16px; line-height: 27px; position: absolute; left: 40px; color: #ccc;}
#Friends_wrap .Friends_srch input{height: 27px; width: 470px; background: #f1f2f3; border-radius: 5px; box-sizing: border-box; border: 1px solid transparent; text-align: center;   transition: border-color 0.2s linear;}
#Friends_wrap .Friends_srch input::placeholder{font-size: 13px; text-align: center; font-size: 13px;}
#Friends_wrap .Friends_srch input:focus{border-color: #ffe94a; outline: none;}
#Friends_wrap .Friends_head{color: #b4b4b4; font-size: 12px; padding: 10px;}

/* main */
#Friends_wrap .Friends_main ul{display: flex; align-items: center; width: 520px; padding: 10px 15px;}
#Friends_wrap .Friends_main ul li img{width: 40px; border-radius: 50%;}
#Friends_wrap .Friends_main ul li{font-size: 14px; margin-right: 20px;}
/* friends */
#Friends_wrap .friends{position: relative;}
#Friends_wrap .friends ul{display: flex; align-items: center; padding: 10px 15px;}
#Friends_wrap .friends ul li img{width: 40px; border-radius: 50%;}
#Friends_wrap .friends ul li{font-size: 14px; margin-right: 20px;}
#Friends_wrap .friends ul li:nth-of-type(3){color: #939393; background-color: #f0f0f0; font-size: 10px; padding: 6px 10px; border-radius: 5px; position: relative; right: -25%}


.Friends_main{display: flex; align-items: center; padding:10px 15px; width: 100%; box-sizing: border-box; justify-content: space-between;}
.Friends_main a{font-size: 14px;}
.Friends_main span{font-size: 10px; padding: 10px; background: #f0f0f0; border-radius: 5px; color:#939393;}
.Friends_main img{width:40px; height: 40px; border-radius: 20px; margin-right:15px;}
.s_colum{display: flex; align-items: center;}
